<% include ../partials/header %>



<div class="container">
  <div class="insidecontainer" style="padding-left:30%;">
    <h1 style="padding:auto;">Add Comment to <%=blog.title%></h1>
    <div class="card bg-light mb-3" style="max-width: 30rem;">
      <div class="card-header"><%=blog.title%></div>
      <div class="card-body">
        <form action="/blogs/<%=blog._id%>/comments" method="POST">
          <div class="form-group">
            <label>Message</label>
            <input type="text" class="form-control" name="comments[message]" placeholder="Enter Your Comment">
          </div>
          <div class="form-group">
            <label>Author</label>
            <input type="text" class="form-control" name="comments[author]" placeholder="Enter Author Name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
